body {
	font-family: arial;
	background: url('../images/world-map.jpg');
	background-size: 100%;
}

.main {
	width: 80%;
	border-radius: 20px;
	margin: 5% auto 5% auto;
	padding: 3%;
	text-align: center;
}