body {
	font-family: arial;
	background: url('../images/world-map.jpg');
	background-size: 100%;
}

.main, .info {
	width: 80%;
	margin: 5% auto 5% auto;
	padding: 3%;
}

.main {
	text-align: center;
}

.hide {
	display: none;
}

#input, #button, .main, .info {
	border-radius: 20px;
}

#input, #button {
	padding: 3px;
}